{% extends 'base.html' %}  <!-- 整个页面 -->


{% block main %}

        <div class="columns">
            <div class="column is-9">
                <div class="tile is-child box">
                    <div class="content">
                        <h3>Welcome to my blog !</h3>
                        <hr>
                        {% for i in rows %}
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/{{i[1]}}/">{{i[2]}}</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                       发布于 {{i[5]}}
                                    </p>
                                    <p> {{i[3]}}</p>
                                </div>
                            </div>
                        </article>

                        {% endfor %}
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/good-good-study-day-day-up/">Good Good Study
                                        Day Day Up</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                        发布于 2018-08-23
                                    </p>
                                    <p> 格言收集 好好学习，天天向上 没有免费的午餐 困境即是成长，战胜它，你就获得成长 ...</p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/thanks/">Thanks</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                        发布于 2018-08-23
                                    </p>
                                    <p>鸣谢 感谢我的家人，爱我的人和我爱的人，感谢你们的支持。感谢父母，谢谢你们给我生命的机会！...</p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/learning/">终生学习</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                        发布于 2018-08-23
                                    </p>
                                    <p>终生学习 现在都倡导 终生学习 的概念，那么，在这样的“潮流”之下，我们该如何进行“终生学习”呢。
                                        相信每个人都有不同的看法，你怎么看？...</p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/why-python/">为什么用python?</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                        发布于 2018-08-23
                                    </p>
                                    <p> 为什么用 python? python 是一门动态语言，灵活，而强大。具有极好的开发效率
                                        下面是一个最简单的 hello,world 代码，就一行：
                                        print(&quot;hello,world&quot;) ...</p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/flask/">Flask开发</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                        发布于 2018-08-23
                                    </p>
                                    <p>flask 开发 Flask 是 Python 下的一个优秀的 Web 开发框架...</p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/web-site-development/">web 网站开发</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                        发布于 2018-08-23
                                    </p>
                                    <p> Web网站开发 当今社会，大量的 Web 网站涌现出来，就算是手机时代，也依然需要 Web 技术。
                                        Web 开发需要什么知识呢？
                                        首先，你需要一个网站是由什么组成的？浏览器是如何展现出一个页面的？ 页面来自哪里？服务器在哪？
                                        那么最后，服务器如何生成这些内容呢？
                                        把这些问题搞明白，你就能知道网站如何制作了。
                                        学习路径：
                                        一门编程语言, Python/Java/Nodejs/Go 其中挑选一个 HTML/CSS/JAVASCRIPT HTTP 服务器开发 各类应用设计
                                        面向对象设计 数据库设计 ...</p>
                                </div>
                            </div>
                        </article>

                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/hello/">你好</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                        发布于 2018-08-23
                                    </p>
                                    <p>欢迎你 非常高兴你能来到我们这里，这是非常棒的！哈哈哈...</p>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>

            {% include 'side.html' %}

        </div>
        <div class="columns">
            <div class="column is-9">
                <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">


                    <ul class="pagination-list">

                        <li class="pagination__item">
                            <a class="pagination-link is-current" aria-label="Goto page 1" href="/">1</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

        {% endblock main %}

