{% extends 'base.html' %}  <!-- 整个页面 -->


{% block main %}

        <div class="columns">
            <div class="column is-9">
                <div class="tile is-child box">
                    <div class="content">
                        <h3>Welcome to my blog !</h3>
                        <hr>
                        {% for i in rows %}
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/{{i[1]}}/">{{i[2]}}</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                       发布于 {{i[5]}}
                                    </p>
                                    <p> {{i[3]}}</p>
                                </div>
                            </div>
                        </article>

                        {% endfor %}


                    </div>
                </div>
            </div>

            {% include 'side.html' %}

        </div>
        <div class="columns">
            <div class="column is-9">
                <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">


                    <ul class="pagination-list">
                        {% for i in range(1, p) %}

                        <li class="pagination__item">
                            <a class="pagination-link is-current" aria-label="Goto page 1" href="/?p={{i}}">{{i}}</a>
                        </li>
                         {% endfor %}

                    </ul>
                </nav>
            </div>
            {{s}}
        </div>


        {% endblock main %}

