{% set title = keyword %}  <!-- 传入标题字符串 -->
{% set page_title = '#'+ (keyword | capitalize) %}  <!-- 传入图片上的文字 -->


{% extends 'base.html' %}   <!-- 继承整个页面 -->

{% block main %}      <!-- 覆盖中间显示内容部分, -->

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="content">
                <h3>Welcome to my blog !</h3>
                <hr>

                 {% for i in rows %}
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-4"><a href="/post/{{i[1]}}/">{{i[2]}}</a></p>
                                    <p class="subtitle is-size-6 has-text-grey-light">
                                       发布于 {{i[5]}}
                                    </p>
                                    <p> {{i[3]}}</p>
                                </div>
                            </div>
                        </article>

                        {% endfor %}

            </div>
        </div>
    </div>

    {% include 'side.html' %}   <!-- 加上侧边栏 -->

</div>

{% endblock main %}